.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}


  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  margin-top: 20px;
}

.table-container {
  border: 2px solid #666;
  display: inline-block;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: #FFCB05;
  background-color: #3466AF;
}

.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: white;
  margin: 0;
  font-size: 2.5em;
}

.search-bar {
  margin-top: 10px;
  padding: 5px;
  width: 300px;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

